{% extends "template/cadreUser.html.twig" %}

{% block table %} 

<div class="article1">
        <div class="float50">
           <h2>Pour nous contacter :</h2> 
            <b>Page Facebook :</b>  <a href="https://www.facebook.com/Gestion-1207/ rel="publisher" style="color: dodgerblue;"> 
   https://www.facebook.com/Gestion-1207 </a> <br>
            <b>Site internet officiel :</b> <a href="https://www.gestion.tn" target="_blank" style="color: dodgerblue;">www.stock.fr</a> <br>
            <b>Téléphones :</b> 73 556 892  / 75 425 411 <br>
            <b>Mail :</b> <a href="mailto:info@stock.fr" style="color: dodgerblue;">info@stock.ftn</a> <br>
        </div>
        <div class="float50">
            <img src="{{ asset('images/telephone-1.png') }}" alt="Contactez nous">
        </div>
    </div>
            

       




          
       
        
{% endblock %}


