{% extends "template/cadreUser.html.twig" %}

{% block table %} 

       

 <div class="article1">                   
    <div>

        <h2>À propos de nous</h2>
        <p>Il s'agit de la gestion des articles de stock, création de devis et facturation en ligne.</p>


    </div>
    <div>
        <p> <img src="{{ asset('images/logiciel-de-gestion-de-stock.png') }}" alt="a propos"> </p>
    </div>
                    <div class="clear"></div>
          
            
</div>
{% endblock %}