{% extends "template/cadreUser.html.twig" %}

{% block table %} 

<h1>Bienvenue sur notre site de Gestion de Stock <b>en ligne</b></h1>
<h4>Une solution qui s'adapte à vos besoins</h4>
<p>Avec Stock-En-Ligne, votre logiciel de gestion de stock n'est plus une application 
informatique installé sur votre ordinateur mais un service qui est mis à votre disposition en ligne sur notre serveur distant 
rapide ou bien intégré dans votre site WEB.
</p>
<div class="article1">
        <div class="float50">
            <h3>Une solution complète pour...</h3>
            <ul>
                
                <li>Suivre l’évolution des stocks plus rapidement et plus facilement</li>
                <li>Visualiser instantanément l'état réel de votre stock</li>
                <li>Réaliser de manière fiable et intuitive les entrées et sorties</li>
                <li>Rationaliser l’inventaire de bout à bout</li>
                <li>Maîtriser les coûts liés à la gestion des stocks</li>
                <li>Détecter les manques et passer les commandes fournisseur</li>

                <li>Prévoir des opérations promotionnelles en fonction des stocks disponibles</li>

            </ul>
            
        </div>
        <div class="float50">
            <img src="{{ asset('images/stokk.png')}}" title="gestion de stock" class="img100" alt="logiciel gestion stock">
        </div>
    </div>

<div class="article2">
        <div class="float50">
            <img src="{{ asset('images/disp.png')}}" alt="imprimante-lecteur-code-barres" title="imprimante-lecteur-code-barres" class="img100">
        </div>
        <div class="float50">
            <h3>Vous gagnez..</h3> 
            <ul>
               <li>en visibilité : vous pouvez savoir à tout moment si tel produit est encore en stock et en quelle quantité</li>
	       <li>du temps : vous êtes alerté d’un niveau de stock insuffisant et prévenu lorsqu’il faut passer commande</li>
	       <li>en qualité de service : oubliez les ruptures de stock et les clients insatisfaits</li>
            </ul>
        </div>
    </div>

<div class="article1">
        <div class="float50">
     <h3>Gestion de Stock Modulaire</h3>
                <h4>Optimisez vos flux de matière et de produits</h4>
                <h5>Stock En Ligne accompagne la transformation numérique de votre entreprise</h5>
                <br>
             
            
        </div>
        <div class="float50">
            <img src="{{ asset('images/Gest.png')}}" title="gestion de stock" class="img100" alt="logiciel gestion entrepot">
        </div>
    </div>
{% endblock %}

